<form [formGroup]="profileForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <fieldset class="simple-margin">
        <div class="form-row">
          <mat-form-field color="accent" class="simple-margin">
            <input matInput formControlName="firstName" type="text" placeholder="first name">
            <mat-error *ngIf="profileFormComtrols.firstName.invalid">{{errorMsg.required}}</mat-error>
          </mat-form-field>
          <mat-form-field color="accent" class="simple-margin">
            <input matInput formControlName="lastName" type="text" placeholder="last name">
            <mat-error *ngIf="profileFormComtrols.lastName.invalid">{{errorMsg.required}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field color="accent" class="simple-margin">
            <input matInput formControlName="email" type="text" placeholder="email">
            <mat-error *ngIf="profileFormComtrols.email.invalid && profileFormComtrols.email.errors.required">{{errorMsg.required}}</mat-error>
            <mat-error *ngIf="profileFormComtrols.email.invalid  && profileFormComtrols.email.errors.email">{{errorMsg.email}}</mat-error>
          </mat-form-field>
          <mat-form-field color="accent" class="simple-margin">
            <input matInput formControlName="phone" [textMask]="{mask: mask}" type="text" placeholder="phone: +375(XX)XXXXXXX">
            <mat-error *ngIf="profileFormComtrols.phone.invalid && profileFormComtrols.phone.errors.required">{{errorMsg.required}}</mat-error>
            <mat-error *ngIf="profileFormComtrols.phone.invalid && profileFormComtrols.phone.errors.pattern">{{errorMsg.phone}}</mat-error>
          </mat-form-field>
        </div>
      </fieldset>
      <fieldset class="simple-margin">
        <mat-radio-group class="column-display" formControlName="role">
          <mat-radio-button class="simple-margin" [value]="role.name" *ngFor="let role of allRoles">
            {{ role.name }}
          </mat-radio-button>
          <div *ngIf="this.profileForm.value.role" class="row-display" formArrayName="skills">
            <mat-checkbox *ngFor="let skill of filterSkillsByRole(profileForm.value.role); let i = index"
              [formControlName]="i">
              {{skill}}
            </mat-checkbox>
          </div>
        </mat-radio-group>
      </fieldset>
      <fieldset class="fieldset-cont simple-margin">
        <mat-slide-toggle class="col-50 simple-margin" formControlName="isReadyToRelocate">
          Ready to Relocate
        </mat-slide-toggle>
        <mat-form-field class="col-50 simple-margin" *ngIf="profileForm.value.isReadyToRelocate" color="accent">
          <mat-select placeholder="locations" formControlName="locations" multiple>
            <mat-option value={{location}} *ngFor="let location of allLocations">
              {{location}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </fieldset>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" (sumbmit)="onSubmit()" [disabled]='profileForm.valid' mat-flat-button>Submit</button>
    </mat-card-actions>
    <mat-card-footer>
      <pre>{{ profileForm.value | json}}</pre>
    </mat-card-footer>
  </mat-card>
</form>
