html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-cont {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.card-item {
  width: 40%;
}
